* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f1f1;
  height: 100vh;
}

#text {
  width: 100%;
  color: #fff;
  position: relative;

  font-weight: 700;
  font-size: 5em;

  transform: rotate(10deg);

  text-transform: capitalize;
  letter-spacing: 8px;
}

#text::before {
  content: attr(data-text);
  position: absolute;
  top: 50px;
  left: -50px;
  text-shadow: none;
  color: rgba(0, 0, 0, 0.3);
  z-index: -1;
  filter: blur(8px);
}
