* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  display: grid;
  place-items: center;
  min-height: 100vh;
  background: #444450;
  color: white;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .box {
  position: relative;
  transform-style: preserve-3d;
  animation: animate 25s infinite linear;
}
@keyframes animate {
  from {
    transform: perspective(1500px) rotateX(0deg) rotate(25deg);
  }
  to {
    transform: perspective(1500px) rotateX(360deg) rotate(25deg);
  }
}

.container .box p {
  display: flex;
  position: absolute;
  font-size: 3.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 10px;
  /* transform-style: preserve-3d; */
  text-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%) rotateX(calc(var(--i) * 22.5deg))
    translateZ(100px);
  background: linear-gradient(
    90deg,
    transparent,
    rgba(0, 0, 0, 0.5),
    transparent
  );
  line-height: 0.75rem;
  letter-spacing: 4px;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.3);
}

.container .box p span:nth-child(1) {
  font-style: initial;
  color: crimson;
  font-size: 3.5rem;
}

.container .box p span:nth-child(2) {
  font-style: initial;
  color: dodgerblue;
  font-size: 3.5rem;
}
