* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #444455;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: white;
}

.container {
  background: rgba(255, 255, 55, 0.432);
  height: 200px;
  width: 300px;
  transform: rotateZ(90deg);
}

@keyframes rotation {
  from {
    transform: perspective(1000px) rotateX(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(360deg);
  }
}
.stage {
  animation: rotation 10s linear infinite;
  background: rgba(0, 255, 55, 0.432);
  min-width: 100%;
  width: fit-content;
  min-height: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
}

.stage p {
  white-space: nowrap;
  text-transform: uppercase;
  float: right;
  width: 100%;
  font-size: auto;
  border-right: 1px solid blue;
}
